<p id="notice"><%= notice %></p>

<h1>Mall Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Mall</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mall_attachments.each do |mall_attachment| %>
      <tr>
        <td><%= mall_attachment.mall_id %></td>
        <td><%= mall_attachment.avatar %></td>
        <td><%= link_to 'Show', mall_attachment %></td>
        <td><%= link_to 'Edit', edit_mall_attachment_path(mall_attachment) %></td>
        <td><%= link_to 'Destroy', mall_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mall Attachment', new_mall_attachment_path %>
