<div class="test">

  <div id="floating-panel">
    <b>Start:
    </b>
    <select id="start">
      <%@malls.each do |mall| %>
      <option value="<%=mall.address %>"><%= mall.name %></option>
      <% end %>
    </select>

    <b>End:</b>
    <select id="end">
      <%@malls.each do |mall| %>
      <option value="<%=mall.address %>"><%= mall.name %></option>
      <% end %>
    </select>
  </div>
  <div id="map"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoCKNEr65ZO2JvpuIbofP7cn8p3pqFJP4&callback=initMap"></script>

<%= render "shared/footer" %>
