<p id="notice"><%= notice %></p>
<p>
<strong>Name:</strong>
<%= @event.name %>
</p>

<p>
<strong>Description:</strong>
<%= @event.description %>
</p>

<p>
<strong>Starting date:</strong>
<%= @event.starting_date %>
</p>

<p>
<strong>Ending date:</strong>
<%= @event.ending_date %>
</p>

<p>
<strong>Starting time:</strong>
<%= @event.starting_time %>
</p>

<p>
<strong>Ending time:</strong>
<%= @event.ending_time %>
</p>

<p>
<strong>Mall:</strong>
<%= @event.mall %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
