<%= form_for :room, url: mall_rooms_path(@mall) do |form| %>

<div class="field">
  <%=form.label :Main_store_image%>
  <%=form.file_field :storeimage%>
</div>

<div class="field">
  <%=form.label :Other_Image%>
  <%=form.file_field :storeavatar%>
</div>

<div class="field">
  <%= form.label :category %>
  <%= form.collection_select :category_id, Category.all, :id, :name%>
</div>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :room_name %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, id: :room_description %>
</div>

<div class="field">
  <%= form.label :room_number %>
  <%= form.number_field :room_number, id: :room_room_number %>
</div>

<div class="field">
  <%= form.label :area %>
  <%= form.text_field :area, id: :room_area %>
</div>

<div class="field">
  <%= form.label :wing %>
  <%= form.text_field :wing, id: :room_wing %>
</div>

<div class="field">
  <%= form.label :floor %>
  <%= form.number_field :floor, id: :room_floor %>
</div>

<div class="field">
  <%= form.label :opening_time %>
  <%= form.time_select :opening_time, id: :room_opening_time %>
</div>

<div class="field">
  <%= form.label :closing_time %>
  <%= form.time_select :closing_time, id: :room_closing_time %>
</div>

<div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone, id: :room_phone %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, id: :room_email %>
</div>

<div class="field">
  <%= form.label :facebook %>
  <%= form.text_field :facebook, id: :room_facebook %>
</div>

<div class="field">
  <%= form.label :instagram %>
  <%= form.text_field :instagram, id: :room_instagram %>
</div>

<div class="field">
  <%= form.label :twitter %>
  <%= form.text_field :twitter, id: :room_twitter %>
</div>

<div class="field">
  <%=form.label :website%>
  <%=form.url_field :website%>
</div>

<div class="field">
  <%= form.label :occupied %>
  <%= form.check_box :occupied, id: :room_occupied %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
