<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Room number</th>
      <th>Area</th>
      <th>Wing</th>
      <th>Floor</th>
      <th>Opening time</th>
      <th>Closing time</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Twitter</th>
      <th>Occupied</th>
      <th>Mall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.description %></td>
        <td><%= room.room_number %></td>
        <td><%= room.area %></td>
        <td><%= room.wing %></td>
        <td><%= room.floor %></td>
        <td><%= room.opening_time %></td>
        <td><%= room.closing_time %></td>
        <td><%= room.phone %></td>
        <td><%= room.email %></td>
        <td><%= room.facebook %></td>
        <td><%= room.instagram %></td>
        <td><%= room.twitter %></td>
        <td><%= room.occupied %></td>
        <td><%= room.mall %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_mall_room_path %>
