<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Area:</strong>
  <%= @room.area %>
</p>

<p>
  <strong>Wing:</strong>
  <%= @room.wing %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @room.opening_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @room.closing_time %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @room.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @room.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @room.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @room.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @room.twitter %>
</p>

<p>
  <strong>Occupied:</strong>
  <%= @room.occupied %>
</p>

<p>
  <strong>Mall:</strong>
  <%= @room.mall %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
