<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Area:</strong>
  <%= @room.area %>
</p>

<p>
  <strong>Wing:</strong>
  <%= @room.wing %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @room.opening_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @room.closing_time %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @room.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @room.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @room.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @room.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @room.twitter %>
</p>

<p>
  <strong>Occupied:</strong>
  <%= @room.occupied %>
</p>

<%=render 'products/form'%>

<p>You can also upload your csv file directly</p>

<%=form_tag import_mall_room_products_path(@mall, @room), multipart: true do%>
  <div class="well">
    <%= file_field_tag :file, required: true%> <br>
    <%=submit_tag "Upload CSV"%>
  </div>
<%end%>


<%@products.each do |product|%>
<div class="col-md-3">
  <img src="<%=product.image%>" class="img-responsive" style="height:200px; width:200px;">
  <h3><%=product.name%></h3>
  <h5><%=product.price%> Ksh</h5>
  <%=link_to "SHOW", mall_room_product_path(@mall, @room,product)%>
</div>
<%end%>
<br>
<%= link_to 'Edit', edit_mall_room_path(@room) %>
|
<%= link_to 'Back', mall_path %>
