<div class="row room_header">
  <h1>Welcome to
    <span><%=@room.name%></span>
  </h1>
  <%= image_tag @room.storeimage_url.to_s, class: "room_image img-responsive"%>
  <div class="row room_description">
    <p><%= @room.description %></p>
  </div>
</div>
<div class="container-fluid room">
  <div class="container">
    <div class="row room_products">
      <h1>Our Products</h1>
      <%@products.each do |product|%>
      <div class="col-md-4 col-xs-12 product_tile">
        <div class="product">
          <div class="product_image">
            <img src="<%=product.image%>" class="img-responsive product_image">
          </div>
          <div class="product_body">
            <h3><%=product.name%></h3>
            <h5><%=product.price%>
              Ksh</h5>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>

  <div class="row room_details">
    <h1>OPENING AND CLOSING TIME</h1>
    <div class="col-md-6 col-xs-12">
      <i class="fa fa-clock-o" id="room_time_icon" aria-hidden="true"></i>
      <h3><%= @room.opening_time.strftime('%H:%M:%p') %></h3>
      -
      <h3><%=@room.closing_time.strftime('%H:%M:%p')%></h3>
    </div>
    <div class="col-md-6 col-xs-12">
      <%=image_tag @room.storeavatar_url, class: "img-responsive animated swing"%>
    </div>
  </div>

  <div class="row room_directions">
    <p><%=@room.name%>
      is located on the
      <%if @room.floor == 1%>
      <b>1st</b>
      <%elsif @room.floor == 2%>
      <h5>2nd</h5>
      <%elsif @room.floor == 3%>
      <h5>3rd</h5>
      <%elsif @room.floor >= 4%>
      <h5><%=@room.floor%>th</h5>
      <%end%>
      Floor of
      <%=@room.mall.name%>,
      <%=@room.wing%>
      wing in room number
      <%=@room.room_number%>
    </p>
  </div>

  <div class="container upload">
    <h1>Upload Products</h1>
    <%=form_tag import_mall_room_products_path(@mall, @room), multipart: true do%>
    <div class="well">
      <p>You can upload your product spreadsheet file directly</p>
      <%= file_field_tag :file, required: true%>
      <br>

      <%=submit_tag "Upload", class: "btn btn-default"%>
      <br>
      <br>
      <p>You can add products manually as well</p>
      <%=render 'products/form'%>
    </div>
    <%end%>
  </div>

  <div class="row room_contacts">
    <a href="<%=@room.facebook%>">
      <i class="fa fa-facebook-official contact_icon" aria-hidden="true"></i>
    </a>
    <a href="<%=@room.instagram%>">
      <i class="fa fa-instagram contact_icon" aria-hidden="true"></i>
    </a>
    <a href="<%=@room.website%>">
      <i class="fa fa-internet-explorer contact_icon" aria-hidden="true"></i>
    </a>
    <a href="<%=@room.twitter%>">
      <i class="fa fa-twitter contact_icon" aria-hidden="true"></i>
    </a>

    <br>

    <p>
      <i class="fa fa-phone contact_phone" aria-hidden="true"></i>
      <%=@room.phone%></p>
    <p>
      <i class="fa fa-envelope-o contact_email" aria-hidden="true"></i>
      <%=@room.email%></p>
  </div>
</div>
<!-- <br>
<%= link_to 'Edit', edit_mall_room_path(@room) %>
|
<%= link_to 'Back', mall_path %> -->
