<script src="//maps.google.com/maps/api/js?key=AIzaSyDoCKNEr65ZO2JvpuIbofP7cn8p3pqFJP4"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<h1>Malls</h1>
<% @malls.each do |mall| %>
  <ul>
  <li>

  <%= mall.description %>
  </li>
  <li>
  <%= mall.email %>
  </li>
  <li>
  <%= mall.phone_no %>
  </li>

  <li>
  <%= mall.name %>
  </li>
  <li>
  <%if mall.parking_space == true%>
  <h1>parking available</h1>
  <%else%>
  <h1>No parking provided</h1>
  <%end%>
  </li>
  <li>
  <%= mall.rooms %>
  </li>
  <li>
  <%= mall.opening_time.strftime('%I:%M %p') %>
  </li>
  <li>
  <%= mall.closing_time.strftime('%I:%M %p')  %>
  </li>
  <li>
  <%if mall.rooms_status == false%>
  <h1>rooms available</h1>
  <%else%>
  <h1>no rooms</h1>
  <%end%>
  </li>
  <li>
  <%= link_to 'Show', mall %>

  </li>
  <li>
  <%= link_to 'Edit', edit_mall_path(mall) %>

  </li>
  <li>
  <%= link_to 'Destroy', mall, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  </ul>
<% end %>

<br>

<%= link_to 'New Mall', new_mall_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>
