<script src="//maps.google.com/maps/api/js?key=AIzaSyDoCKNEr65ZO2JvpuIbofP7cn8p3pqFJP4"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<% @categories.each do |category| %>
  <%= link_to category.name, category %> <br>
<% end %>





<div class="header">
  <h1 class="animated bounceInDown">E-mall</h1>
</div>

<div class="malls">
  <div class="malls_title">
    <h1>Malls</h1>
  </div>
</div>

<% @malls.each do |mall| %>
<div class="row malls_loop">
  <div class="col-md-6 col-xs-12 left animated fadeInLeft">
    <%= image_tag mall.mallpicture_url.to_s, class: "img-responsive"%>
  </div>

  <div class="col-md-6 col-xs-12 right animated fadeInRight">
    <h1><%=mall.name%></h1>
    <h1><%=@free%></h1> spaces available.
    <%if ((mall.opening_time).strftime('%H:%M')..(mall.closing_time).strftime('%H:%M')).include?Time.now.strftime('%H:%M')%>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Green_pog.svg/1024px-Green_pog.svg.png" class="img-responsive" style="height:30px; width:30px;">Open
    </div>
    <%=link_to mall_events_path(mall) do%>
      <%=mall.events.count%> Events happening
    <%end%>
    <%else%>
    <div>
      <img src="http://designingflicks.com/images/red-svg-9.png" class="img-responsive" style="height:30px; width:30px; margin:auto; text-align:center;">
      <h1>Closed</h1>
    </div>
    <%end%>

    <%if mall.parking_space == true%>
    <p>parking available</p>
    <%else%>
    <p>No parking provided</p>
    <%end%>

    <%if mall.rooms_status == true%>
      <%=mall.rooms.count%> available
    <%else%>
      <h3>fully occupied</h3>
    <%end%>

    <%= link_to 'View', mall, class: "view_btn" %>
    <%#= link_to 'Destroy', mall, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>
<% end %>

<%#= link_to 'Edit', edit_mall_path(mall) %>
<%#= link_to 'New Mall', new_mall_path %>

<br>

 <div class="map_box">
  <div id="map" class="img-responsive"></div>
</div>
<!-- <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {},
    internal: {
      id: 'map'
    }
  }, function () {
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script> -->
