<script src="//maps.google.com/maps/api/js?key=AIzaSyDoCKNEr65ZO2JvpuIbofP7cn8p3pqFJP4"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<p>
  <strong>Name:</strong>
  <%= @mall.name %>
</p>

<p>
  <strong>Parking space:</strong>
  <%= @mall.parking_space %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mall.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mall.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @mall.phone_no %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @mall.rooms %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @mall.opening_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @mall.closing_time %>
</p>

<p>
  <strong>Rooms status:</strong>
  <%= @mall.rooms_status %>
  <%=@mall.latitude%>
</p>


<%@mall_attachments.each do |m|%>
<div class="col-md-3">
  <%=image_tag m.avatar_url, class: "img-responsive"%>
</div>
<%end%>


<%= link_to 'Edit', edit_mall_path(@mall) %>
|
<%= link_to 'Back', malls_path %>
<br>

<br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>
