<script src="//maps.google.com/maps/api/js?key=AIzaSyDoCKNEr65ZO2JvpuIbofP7cn8p3pqFJP4"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div class="header_show">
  <h1><%=@mall.name%></h1>
  <p><%=@mall.description%></p>
  <p>Open between
    <%= @mall.opening_time.strftime('%H:%M:%p') %>
    and
    <%= @mall.closing_time.strftime('%H:%M:%p') %></p>
  <p>
    <i class="fa fa-phone contact_phone" aria-hidden="true"></i>
    <%=@mall.phone_no%></p>
  <p>
    <i class="fa fa-envelope-o contact_email" aria-hidden="true"></i>
    <%=@mall.email%></p>
</div>

<div class="container">
  <div class="col-md-6">
    <div class="container">
      <h3>Add your Store.</h3>
      <%=render 'rooms/form'%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h3>Add events at
        <%=@mall.name%></h3>
      <%=render 'events/form'%>
    </div>
    <div class="row">
      <h3>Add
        <%=@mall.name%>
        features</h3>
      <%= render 'features/form'%>
    </div>
  </div>
</div>

<div class="mall_images">
  <div class="row">
    <%if @mall_attachments.any?%>
    <h1>Sneak Peek</h1>
    <%@mall_attachments.each do |m|%>
    <div class="col-md-4 col-xs-12">
      <%=image_tag m.avatar_url, class: "img-responsive mall_attachment"%>
    </div>
    <%end%>
    <%else%>
    <h1>add images when adding mall</h1>
    <%end%>
  </div>
</div>

<%#= link_to 'Edit', edit_mall_path(@mall) %>
<%#= link_to 'Back', malls_path %>

<div class="container">
  <div class="row mall_rooms">
    <%if @mall.rooms.any?%>
    <h1>PRESENT</h1>
    <%else%>
    <h1>ABSENT</h1>
    <%end%>
    <% @rooms.each do |room| %>
    <div class="col-md-4 col-xs-12 mall_room">
      <%if room.name == ""%>
        <img src="https://previews.123rf.com/images/carmenbobo/carmenbobo1504/carmenbobo150400069/38945966-Rubber-stamp-with-word-vacant-inside-vector-illustration-Stock-Vector.jpg" class="img-responsive" style="height:200px; width:300px;"alt="">
      <%else%>
      <%= image_tag room.storeimage_url.to_s, class: "store_image img-responsive"%>
      <%end%>
      <div class="mall_room_name">
        <h1>
          <%= room.name %>
        </h1>
        <%if ((room.opening_time).strftime('%H:%M')..(room.closing_time).strftime('%H:%M')).include?Time.now.strftime('%H:%M')%>
        <button class="btn btn-success">Currently Open</button>
        <%else%>
        <button class="btn btn-failure">Closed</button>
        <%end%>
      </div>
      <div class="mall_room_link">
        <%= link_to mall_room_path(room.mall_id,room) do%>
        <button class="btn btn-default">Check it Out</button>
        <%end%>
      </div>
      <%= link_to 'Edit', edit_mall_room_path(room.mall_id,room) %>
      <%#= link_to 'Destroy', mall_room_path(room.mall_id,room), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
</div>

<div class="map">
  <div id="map" class="map"></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {},
    internal: {
      id: 'map'
    }
  }, function () {
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
